name: Greetings

on: [pull_request_target, issues]

jobs:
    greetings: 
        runs-on: ubuntu-latest
        permissions:
            issues: write
            pull-requests: write
        
        steps:
            - uses: actions/first-interaction@v1
              with:
                repo-token: ${{secrets.GITHUB_TOKEN}}
                issue-message: "Welcome to my repository! This is your first issue ticket."
                pr-message: "Thanks for contributing! This is your first pull request."